[user]
    name = Injun Song
    email = ijsong@gmail.com
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[pager]
    branch = false
[alias]
    co = checkout
    br = branch
    st = status
